*{
    margin: 0;
    padding: 0;
}
/*Comienza Stilos registro*/
* {
	box-sizing: border-box;
}

/*  body {
	font-family: 'Roboto', sans-serif;
	background: #e1cb04;
} */

main {
	background-color:  #fceccc;
	flex: 1;
}

.navClass {
    background-color:#4d899a;
}

#exampleModal.modal.custom-class {
    z-index: 1029
}

.colo:hover{
	color: #0075FF;
  	
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	background: #8cbfe6;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
	color: #fa0101;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #fa0101;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 80px 20px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgb(255, 252, 252);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
/*Fin de Stylo Registro*/


.card-img-top {
    width: 100%;
    height: 200px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

  .card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }


  .footer {
    background-color: #b8c99d;
}

.footer a {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 22px;
}

.footer h5 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 22px;
    
}



.section{
	padding: 4rem 2rem;
	text-decoration: none;
  }
  
  .section .error{
	font-size: 150px;
	color: #008B62;
	text-shadow: 
	  1px 1px 1px #00593E,    
	  2px 2px 1px #00593E,
	  3px 3px 1px #00593E,
	  4px 4px 1px #00593E,
	  5px 5px 1px #00593E,
	  6px 6px 1px #00593E,
	  7px 7px 1px #00593E,
	  8px 8px 1px #00593E,
	  25px 25px 8px rgba(0,0,0, 0.2);
  }
  
  .page{
	margin: 2rem 0;
	font-size: 20px;
	font-weight: 600;
	color: #444;
  }
  
  .back-home{
	display: inline-block;
	border: 2px solid #222;
	color: #222;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.75rem 1rem 0.6rem;
	transition: all 0.2s linear;
	box-shadow: 0 3px 8px rgba(0,0,0, 0.3);
  }
  .back-home:hover{
	background: #222;
	color: #ddd;
  }